.app-bg{
    padding: 30px 225px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}
.user-bio-bg{
    padding-right: 30px;
}

.user-profile-image{
    width: 230px;
    height: 230px;
    border-radius: 6px;
    display: block;
    background: #f7f7f7;
}
.user-full-name{
    margin: 0;
    font-size: 26px;
    line-height: 30px;
    font-weight: 600;
}
.user-login{
    margin: 0;
    color: #666;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}
.user-bio{
    margin: 0 0 16px 0;
    color: #666;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}
.user-detail-wrapper{
    padding: 16px 0;
}

.user-edit-bio-wrapper{
    margin-bottom: 16px;
}
.edit-bio-btn{
    width: 230px;
    height: 35px;
    background-color: #eff3f6;
    color: #24292e;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    font-weight: 600;
    cursor: pointer;
}
.user-location-wrapper{
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}
.user-organisation{
    padding: 16px 0 0 0;
    margin: 0;
    color: #24292e;
    font-weight: 600;
    text-transform: lowercase;
}
.user-location{
    padding: 5px 0 16px 0;
    margin: 0;
    font-size: 14px;
}
.user-organization-icon{
    fill: #6a737d;
    padding-right: 8px
}
.user-location-icon{
    fill: #6a737d;
    padding-right: 8px
}
.organisation-wrapper{
    padding: 16px 0;

}
.organisation-name{
    margin: 0 0 8px 0;
    font-size: 16px;
    font-weight: 600;

}
.organisation-icon{
    height: 35px;
    width: 35px;
}

.tabs-container {
  min-height: 50px;
  height: auto;
  border-bottom: 1px solid rgba(32, 42, 51, 0.1);
  background-color: #fff; }

.content-tab-container {
  height: 60px;
  display: flex;
  align-items: center;
}
  .content-tabs {
  cursor: pointer;
  margin: 25px 20px 0 20px;
  height: 35px;
  font-size: 14px;
  text-align: center;
  line-height: 01;
  display: block;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:#586069 }

  .content-tab-container .content-tabs:first-child{
      margin-left: 0;
  }

.content-tabs:hover {
  color: #30303a; }

.tab-active {
  color: #30303a;
  font-weight: bold; }

.tab-active:after {
  animation: zoomIn .3s;
  background: #e36209;
  border-radius: 10px;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%; }

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0, 1); }
  to {
    opacity: 1;
    transform: scale(1, 1); } }
.user-info-bg{
    width: 100%
}
.header-bg{
    height: 50px;
    background-color: #24292e;
    text-align: center;
}
.header-bg h4{
    color: #fff;
    margin: 0;
    padding: 16px 0;
}
.tabs-total-count{
    background-color: #dfdfdf;
    padding: 2px 5px;
    border-radius: 100px;
    font-weight: 600;
    vertical-align: middle;
    margin-left: 3px;
}
.repo-text{
    color:#0366d6;
    text-decoration: none;
    font-size: 20px
}
.repo-detail-container{    
    padding-bottom: 25px;
    border-bottom: 1px solid #d8d8d8
}
.language-bullets{
    height: 12px;
    width: 12px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
}
.loader{
    padding: 8px;
    background: #f2f2f2;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 50%;
}

.loader.small {
    width: 25%;
}

.error-message{
    color: #d2d2d2;
    background: #f7f7f7;
    text-align: center;
    padding: 16px
}
.fork-counter{
    margin-left:20px;
    text-decoration:none;
}
.star-count{
    vertical-align: middle;
    margin-left: 20px;
}
.repo-lang{
    font-size: 15px;
}
.repo-description{
    font-size: 15px;
}
.filter-wrapper{
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #d8d8d8;
}
.searchterm-bar{
    height: 35px;
    border-radius: 3px;
    min-width: 40%;
    margin-right: 5%;
    border: 1px solid #d8d8d8;
    padding-left: 10px;
    font-size: 14px;

}
.search-by-type{
    height: 35px;
    width: 135px;
    border: 1px solid #d8d8d8;
    font-size: 14px;
    margin-right: 10px;
    outline: none;
}
.search-by-lang{
    height: 35px;
    width: 135px;
    border: 1px solid #d8d8d8;
    font-size: 14px;
    outline: none;
}
.new-btn{
    min-width: calc(100% - (45% + 310px));
    margin-left: 15px;
    height: 35px;
    background-color: #28a745;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #d8d8d8;
}
.search-result{
    display: flex;
    color: #888;
    align-items: center;
}
.font-weight-bold{
    font-weight: bold;
}
.clear-btn{
    border-color: snow;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    box-shadow: none;
    border: none;
}
.result-clear-wrapper{
    display: flex;
    border-bottom: 1px solid #d8d8d8;
    justify-content: space-between;
}
.info-message{
    color: #666;
    background: #d8d8d8;
    text-align: center;
    padding: 30px 0;;
    margin-top: 20px;
}